@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700;800&display=swap');
@import "tailwindcss";

@theme {
  --font-manrope: "Manrope", sans-serif;

  --color-background: #f9f9f9;
  --color-on-background: #1a1c1c;
  
  --color-primary: #a60000;
  --color-on-primary: #ffffff;
  --color-primary-container: #d40000;
  --color-on-primary-container: #ffe3de;
  
  --color-secondary: #5f5e5e;
  --color-on-secondary: #ffffff;
  --color-secondary-container: #e2dfde;
  --color-on-secondary-container: #636262;
  
  --color-surface: #f9f9f9;
  --color-on-surface: #1a1c1c;
  --color-surface-variant: #e2e2e2;
  --color-on-surface-variant: #5e3f3a;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #f3f3f3;
  --color-surface-container: #eeeeee;
  --color-surface-container-high: #e8e8e8;
  --color-surface-container-highest: #e2e2e2;
  
  --color-inverse-surface: #2f3131;
  --color-inverse-on-surface: #f1f1f1;
  
  --color-outline: #936e68;
  --color-outline-variant: #e8bcb5;
  
  --color-error: #ba1a1a;
  --color-on-error: #ffffff;
  
  --radius-none: 0px;
}

@layer base {
  body {
    @apply bg-background text-on-surface font-manrope;
  }
}

.structural-grid {
  background-image: radial-gradient(circle, #D1D1D1 1px, transparent 1px);
  background-size: 24px 24px;
}
